* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: 400;
}

body {
    padding: 1rem 0.5rem;
    font-size: 1.3rem;
    line-height: 1.2;
    max-width: 180rem;
    margin: 0 auto;
    min-height: 200vh;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
    width:100%; /* IE */
}

.full_image {
    max-width: 100%;
    max-height: 100%;
    width:100%; /* IE */
    background-size: contain;
    position: relative;
    filter: brightness(0.5)
}

.imageOnTop {
    fill:orange;
    stroke:black;
    background-size: contain;
    z-index: -1;
    position: relative;
}


.Header {
    text-align: center;
    border-bottom: 8px double #f9f9f9;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.Strap {
    font-size: 1rem;
}

.MoneyShot {
    position: relative;
}

.MoneyShotImg {
    border: 6px solid #e8cfa9;
    border-radius: 4px;
}

.LogoWrapper {
    display: block;
}

.TextComponents {
    font-family: Verdana, serif;
    font-size: 30px;
    fill: red;
    alignment-baseline: middle;
}

.TextComponents {
    text-anchor: middle;
}

.ImageCaption {
    font-size: 0.75rem;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    padding: 3px;
    background-color: #222;
    color: #e4e4e4;
}

.IntroText {
    font-size: 1.8rem;
    font-style: italic;
    padding: 0;
}

.MethodWrapper li {
    padding: 0.4rem 0;
    list-style-type: decimal-leading-zero;
    line-height: 1.4em;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: Verdana, serif;
    font-size: 60px;
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
    font-family: Verdana, serif;
    font-size: 40px;
    fill: red;
    stroke: white;
    color: white;
    alignment-baseline: middle;
}

.my-first-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 400px 200px;
}
.grid-item-1 {
    grid-row: 1;
    grid-column: 1;
}
.grid-item-2 {
    grid-row: 1;
    grid-column: 2;
}
.grid-item-3 {
    grid-row: 1;
    grid-column: 3;
}
[class^='grid-item'] {
    font-size: 30px;
}



@media screen and (min-width: 800px) {
    body {
        border-left: 4px solid #f9f9f9;
        border-right: 4px solid #f9f9f9;
        padding: 1rem 2rem;
    }

    .IntroWrapper {
        display: flex;
        gap: 0 20px;
        flex: 1 1 auto;
        align-items: center;
    }

}
